.header {
  margin: 16px 16px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-left: 64px;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}
